[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Murray (jcmurray)
[access "refs/for/refs/*"]
	read = group user/John Murray (jcmurray)
	push = group user/John Murray (jcmurray)
	label-Code-Review = -2..+2 group user/John Murray (jcmurray)
	label-Verified = -1..+1 group user/John Murray (jcmurray)
	rebase = group user/John Murray (jcmurray)
	removeReviewer = group user/John Murray (jcmurray)
	submit = group user/John Murray (jcmurray)
[access "refs/heads/*"]
	read = group user/John Murray (jcmurray)
	create = group user/John Murray (jcmurray)
	push = +force group user/John Murray (jcmurray)
	pushMerge = group user/John Murray (jcmurray)
[access "refs/tags/*"]
	push = +force group user/John Murray (jcmurray)
	pushTag = group user/John Murray (jcmurray)
	pushSignedTag = group user/John Murray (jcmurray)
